@import 'components/global.scss';

.base {

  position: relative;

}

.button {

  position: absolute;
  right: $scale;
  top: 52%;
  cursor: pointer;
  opacity: 0.5;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;

  &:hover {

    opacity: 1;

  }
}
